<div class="row space-left">
  <div class='col-md-1'>
    <h5> Filter by:</h5>
  </div>
  <div class='col-md-1'>
        <% if params[:order] == 'products.name desc' %>
           <%= link_to 'Name ↑', inventory_products_path(order: 'products.name asc'), class: "btn btn-outline-secondary" %>
           <% table_order = params[:order]%>
        <% elsif params[:order] == 'products.name asc' %>
           <%= link_to 'Name ↓', inventory_products_path(order: 'products.name desc'), class: "btn btn-outline-secondary" %>
           <% table_order = params[:order]%>
        <%else%>
          <%= link_to 'Name ↓', inventory_products_path(order: 'products.name desc'), class: "btn btn-outline-secondary" %>
          <% table_order = 'products.id asc' %>
        <% end %> 
  </div>
  <div class='col-md-1'>
      
        <% if params[:order] == 'popularity desc' %>
           <%= link_to 'Popularity ↑', inventory_products_path(order: 'popularity asc'), class: "btn btn-outline-secondary" %>
           <% table_order = params[:order]%>
        <% elsif params[:order] == 'popularity asc' %>
           <%= link_to 'Popularity ↓', inventory_products_path(order: 'popularity desc'), class: "btn btn-outline-secondary" %>
           <% table_order = params[:order]%>
        <% else %>
          <%= link_to 'Popularity ↓', inventory_products_path(order: 'popularity desc'), class: "btn btn-outline-secondary" %>
        <% end %>
  </div>

  
  <div class='col-md-5'></div>
  <div class='col-md-1'>
  <% if params.has_key?(:name_filter) %>
  <% filter = "tags.tag_name LIKE '%#{params[:name_filter]}%'" %>
  <%= link_to 'Clean search', inventory_products_path, class:'btn btn-warning' %>
  <% else %>
  <% filter = '' %>
  <% end %>
  </div>
  <div class='col-md-1'>
    
  </div>
  <div class='col-md-1'>
    <%= form_tag inventory_products_path, method: :get do %>
    
    <%= text_field_tag :name_filter %> <br><br>
    <%= submit_tag 'Filter by tag', class: "btn btn-secondary" %> 
    <% end %>
  </div>
</div>
<hr class="my-4 space-left">

<div class='row space-left'> 

<% @products.order(table_order).where("#{filter}").each do |product|%>  
<div class='col-md-2 d-flex align-items-stretch top-space'>
  <div class="card" style="width: 18rem;">
  <% if product.picture.attached? %>
    <div> <%= image_tag product.picture, class: "card-img-top", height: '220px', width: '220px' %> </div>
  <% else %>
    <div> <%= image_tag 'product.jpg', class: "card-img-top", height: '220px', width: '220px' %> </div>
  <% end %>
    <div class="card-body">
      <h5 class="card-title"> <%= product.name %> </h5>
      <p class="card-text"> <%= product.description %> </p>
      <div class="row">
        <div class='col-md-6'>
          <h5> $<%= product.price %> </h5>
        </div>

        <div class='col-md-6'>
          <h5> Stock: <%= product.stock %> </h5>
      </div>
      
      
    </div>
    
  </div>
  <div class='row'>
    <div class='col-sm-1'></div>
    <div class='col-sm-3'>
      <%= link_to 'Details', inventory_product_path(product.id.to_i), class: 'btn btn-secondary' %>
    </div>
    <div class='col-sm-2'></div>
    <div class='col-sm-4'>
      <b> Likes: <%= product.popularity %> </b>
    </div>
  </div>
  <p></p>
  </div><br>
</div>

<% end %>
</div>
<br><br>
<div class='row'>
  <div class='col-md-5'></div>
  <div class='col-md-4'>
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
