<div class="card">
	<div class="row">
		<aside class="col-sm-5 border-right">
<article class="col-lg-12" > 
  <div class="img-big-wrap">
  <% if @product.picture.attached? %>
    <div> <%= image_tag @product.picture.variant(resize_to_fit: [220, 220]), class: "card-img-top" %> </div>
  <% else %>
    <div> <%= image_tag 'product.jpg', class: "card-img-top" %> </div>
  <% end %>
</div>
</article>
		</aside>
		<aside class="col-sm-7">
<article class="card-body p-5">
	<h3 class="title mb-3"> <%= @product.name %> </h3>

<p class="price-detail-wrap"> 
	<span class="price h3 text-warning"> 
		<span class="currency">US $</span><span class="num"> <%= @product.price %>  </span>
	</span> 
</p>
<dl class="item-property">
  <dt>Description</dt>
  <dd><p> <%= @product.description %>  </p></dd>
</dl>
<dl class="item-property">
  <dt>Stock</dt>
  <dd><p> <%= @product.stock %>  </p></dd>
</dl>
<dl class="item-property">
  <dt>Tags</dt>
  <dd><% @product.tags.each do |tag| %>
      <p> <%= tag.tag_name %> </p>
      <% end %>
  </dd>
</dl>

<% @price_change = @product.price_changes.last %>
<% unless @price_change.nil? %>
<dl class="item-property">
  <dt>Last price:</dt>  
  <dd> <p> $<%= @price_change.old_price %> </p>
  </dd>
</dl>
<% end %>

<hr>



<%= form_with url: '/inventory/purchases', method: :post do |form| %>
  <%= form.label :quantity, "Quantity: "%>
  <%= form.hidden_field :product_id, value: @product.id %><br/><br/>
  <%= form.number_field :quantity, in: 1..@product.stock, value: 1, class: 'form-control' %> <br/>
  <%= form.submit 'Add to cart' %>
<% end %>
<br />
<div class='col-sm-3'>
      <% if Like.already_liked(current_user.id, @product.id).zero?%>
        <td>  <%= link_to '♡', store_likes_path(user_id: current_user.id, product_id: @product.id), method: :create, class: 'btn btn-outline-danger' %> </td>
      <% else %>
        <td>  <%= link_to '♥', store_like_path(user_id: current_user.id, product_id: @product.id), method: :delete, data: { confirm: 'Are you sure to unlike this produyct?' },  class: 'btn btn-danger' %> </td>
      <% end %>
    </div>
</article>
		</aside> 
	</div> 
 
</div> 
</div><br />

<div class="row">
<div class="col-md-6">
  <%= render partial: '/store/comments/form_coment', locals: {object: @product, type: 'product'} %>
</div>
  <div class="col-md-5">
    <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Comment</th>
        <th scope="col">Rate</th>
      </tr>
    </thead>
    <tbody>
    <% @product.comments.each do |comment| %>
      <tr>
        <td> <%= link_to  User.find_by(id: comment.user_id).email, inventory_user_url(comment.user_id) %> </td>
        <td> <%= comment.description %> </td>
      </tr>
    <% end %>
      
    </tbody>
  </table>
  </div>
  
</div>