<div class="card">
	<div class="row">
		<aside class="col-sm-5 border-right">
<article class="col-lg-12" > 
  <div class="img-big-wrap">
  <% if @product.picture.attached? %>
    <div> <%= image_tag @product.picture.variant(resize_to_fit: [220, 220]), class: "card-img-top" %> </div>
  <% else %>
    <div> <%= image_tag 'product.jpg', class: "card-img-top" %> </div>
  <% end %>  
</div>
</article>
		</aside>
		<aside class="col-sm-7">
<article class="card-body p-5">
	<h3 class="title mb-3"> <%= @product.name %> </h3>

<p class="price-detail-wrap"> 
	<span class="price h3 text-warning"> 
		<span class="currency">US $</span><span class="num"> <%= @product.price %>  </span>
	</span> 
</p>
<dl class="item-property">
  <dt>Description</dt>
  <dd><p> <%= @product.description %>  </p></dd>
</dl>
<dl class="item-property">
  <dt>Stock</dt>
  <dd><p> <%= @product.stock %>  </p></dd>
</dl>
<dl class="item-property">
  <dt>Tags</dt>
  <dd><% @product.tags.each do |tag| %>
      <p> <%= tag.tag_name %> </p>
      <% end %>
  </dd>
</dl>
<% @price_change = @product.price_changes.last %>
<% unless @price_change.nil? %>
<dl class="item-property">
  <dt>Last price:</dt>  
  <dd> <p> $<%= @price_change.old_price %> </p>
  </dd>
</dl>
<% end %>
<hr>

<div class='row'>
  <div class='col-md-2'>
    <%= form_with url: inventory_product_tags_path, method: :post do |form| %>
    <%= form.hidden_field :product_id, value: @product.id %>
    <%= form.collection_select :tag_id, Tag.order(:tag_name),:id,:tag_name, include_blank: false  %><br/><br/>
    <%= form.submit 'Add tag', class: 'btn btn-success' %>
  <% end %>
  </div>
  
</div>
<hr>
<div class="row">
  <div class='col-md-2'>
    <%= link_to 'Delete product', inventory_product_path, method: :delete, class: 'btn btn-danger' %>
  </div>
  <div class='col-md-2'>
    <%= link_to 'Edit product', edit_inventory_product_path, class: 'btn btn-info' %>
  </div>
</div>

<br />
</article>
		</aside> 
	</div> 
</div> 
</div>
<div class="row">
<div class="col-md-5"></div>
  <div class="col-md-5">
    <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Comment</th>
        <th scope="col">Rate</th>
      </tr>
    </thead>
    <tbody>
    <% @product.comments.each do |comment| %>
      <tr>
        <td> <%= User.find_by(id: comment.user_id).email %> </td>
        <td> <%= comment.description %> </td>
      </tr>
    <% end %>
      
    </tbody>
  </table>
  </div>
</div>