<div class='row'>
  <div class='col-md-1'></div>
  <div class='col-md-6'>
    <%= form_with url: inventory_product_path, class:'form-group ', method: :put do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name, readonly: true, value: @product.name, class: 'form-control' %> <br/>
    <%= form.label :price %>
    <%= form.number_field :price, in: 0.01..500.0, step: 0.01, value: @product.price , class: 'form-control', required: 'required' %> <br/>
    <%= form.label :stock %>
    <%= form.number_field :stock, in: 1..200, value: @product.stock, class: 'form-control', required: 'required' %> <br/>
    <%= form.label :description, style: 'float: left' %>
    <%= form.text_area :description, rows: 3, cols: 40, readonly: true, value: @product.description, class: 'form-control' %> <br/>
    <%= form.submit 'Update product', class: 'btn btn-success' %>
  </div>
</div>
<% end %>  