
<h2 id="notice"><%= notice %></h2>
<div class='row'>
<div class='col-md-1'></div>
  <div class='col-md-6'>
    <div class="form-group">
    <%= form_with model: product, url: '/inventory/products', method: :post do |form| %>
    <%= form.label :picture %> 
    <%= form.file_field :picture,  class: "form-control", required: 'required' %> <br>
    <%= form.label :name %> 
    <%= form.text_field :name, maxlength: 50, placeholder: 'Enter product name here...', class: 'form-control', include_blank: false, required: 'required' %> <br/>
    <%= form.label :price %> (USD)
    <%= form.number_field :price, in: 0.01..500.0, step: 0.01, placeholder: 'Enter product price here...', class: 'form-control', required: 'required' %> <br/>
    <%= form.label :stock %> 
    <%= form.number_field :stock, in: 1..200, placeholder: 'Enter product stock here...', class: 'form-control', required: 'required' %> <br/>
    <%= form.label :description, style: 'float: left' %>
    <%= form.text_area :description, rows: 3, cols: 40, maxlength: 300, class: 'form-control', required: 'required' %> <br/>
    <%= form.submit 'Add product', class: 'btn btn-success' %>
    </div>
  </div>
</div>    
<% end %>