<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'Sivar Snack Store', inventory_products_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <%= link_to 'Add Product', new_inventory_product_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Tags', inventory_tags_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Purchases', inventory_purchases_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'User reviews', inventory_user_reviews_path, class: 'nav-link' %>
        </li>
      </ul>
      <ul class='navbar-nav ms-auto mb-2 mb-lg-0'>
        <li  class="nav-item">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'nav-link'  %>
        </li>
      </ul>
    </div>
  </div>
</nav><br />