<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'Sivar Snack Store', inventory_products_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class='navbar-nav ms-auto mb-2 mb-lg-0'>
        <li  class="nav-item">
          <i class="bi bi-cart"></i>
        </li>
        <li  class="nav-item">
          <%= link_to "Sign In", new_user_session_path, class: 'nav-link'  %>
        </li>
      </ul>
    </div>
  </div>
</nav><br/>
