<% if current_user.nil? %>
  <%= render partial: 'navbar_xuser' %>
  <h2 id="notice"><%= notice %></h2>
  <%= render partial: 'xuser' %>
<% elsif current_user.user_type_id == 1%>
  <%= render partial: 'navbar_admin' %>
  <h2 id="notice"><%= notice %></h2>
  <%= render partial: 'admin' %>
<% elsif current_user.user_type_id == 2%>
  <%= render partial: 'navbar_customer' %>
  <h2 id="notice"><%= notice %></h2>
  <%= render partial: 'customer' %>
<% end %>

