<%= render partial: '/inventory/products/navbar_xuser' %>

<div class="row">
  <div class="col-md-3"></div>
    <div class="card" style="width: 50rem;">
      <div class="card-body">
        <h5 class="card-title">Registration</h5>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", include_blank: false %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", include_blank: false %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", include_blank: false %>
          </div>
          
          <div class="field">
            <%= f.hidden_field :user_type_id, autofocus: true, value: 2%>
            </div>
          <br>
          <div class="actions">
            <%= f.submit "Sign up", class: 'btn btn-success' %>
          </div>
        <% end %>
      </div>
    </div>
</div>
