<%= render partial: 'inventory/products/navbar_customer' %>
<section class="h-100" style="background-color: #eee;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">

        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-black">Your Shopping Cart</h3>

        </div>
        <div class="card rounded-3 mb-4">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2"> Product </p>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <button class="btn btn-link px-2"
                  onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                  <i class="fas fa-minus"></i>
                </button>

                <p class="lead fw-normal mb-2">Quantity </p>

                <button class="btn btn-link px-2"
                  onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0"> Price </h5>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 ">
                 
              </div>
            </div>
          </div>
        </div>
        <% total = 0 %>
        <% @cart.purchases.active.each do |purchase| %>
        <% @product = Product.find_by(id: purchase.product_id) %>
        <div class="card rounded-3 mb-4">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <%= image_tag 'product.jpg', class: "img-fluid rounded-3" %>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2"> <%= @product.name  %> </p>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <button class="btn btn-link px-2"
                  onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                  <i class="fas fa-minus"></i>
                </button>

                <p class="lead fw-normal mb-2"><%= purchase.quantity  %> </p>

                <button class="btn btn-link px-2"
                  onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0"> $<%= @product.price %> </h5>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 ">
                 <%= link_to "Cancel", "/inventory/purchases/#{purchase.id}", method: :delete, class: 'btn btn-danger'  %>
              </div>
            </div>
          </div>
        </div>
        <% total += (@product.price * purchase.quantity) %>
        <% end %>
        <div class="card rounded-3 mb-4">
          <div class="card-body p-4">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-3 d-grid gap-2">
                <p class="lead fw-normal mb-2"> Total(USD): </p>
                <%= form_with url: "/inventory/carts/#{@cart.id}", method: :put  do |form| %>
                <p class="mb-0"><%= form.text_field :total, :readonly => true, value: total %>  </p><br>
                <%= form.submit 'Buy', class: 'btn btn-success' %>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                
              <% end %>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 ">
                 
              </div>
            </div>
          </div>
        </div>
       
      <div class="row">
              
      </div>
      </div>
    </div>
  </div>
</section>