<%= render partial: 'inventory/products/navbar_admin' %>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-6">
  <h2> Add a new product</h2>
    <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
          <ul>
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
    <% end %>
  </div>
</div>

<%= render 'form', product_id: params[:product_id], product: @product %>