<%= render partial: '/inventory/products/navbar_xuser' %>
<div class='row'>
  <div class='col-md-1'></div>
  <div class='col-md-5'>
    <h2>Change your password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.label :password, "New password" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:'form-control' %>
      </div><br>

      <div class="field">
        <%= f.label :password_confirmation, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form-control' %>
      </div><br>

      <div class="actions">
        <%= f.submit "Change my password", class:'btn btn-warning' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>