<%= render partial: '/inventory/products/navbar_xuser' %>

<div class="row">
  <div class='col-md-1'></div>
  <div class="col-md-5">
    <h2>Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label 'write you email' %><br><br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div> <br>

    <div class="actions">
      <%= f.submit "Send me reset password instructions", class:'btn btn-success' %>
    </div>
  <% end %><br>
  <%= render "devise/shared/links" %>
  </div>
</div>


