<% if current_user.user_type_id == 1 %>
<%= render partial: 'inventory/products/navbar_admin' %>
<% else %>
<%= render partial: 'inventory/products/navbar_customer' %>
<% end %>
<h2 id="notice"><%= notice %></h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Total</th>
      <th scope="col">Purchase Date</th>
    </tr>
  </thead>
  <tbody>
  <% @purchases.each do |purchase| %>
    <tr>
      <td> <%= purchase.name_product %> </td>
      <td> <%= purchase.quanti %> </td>
      <td> $<%= purchase.money %> </td>
      <td> $<%= purchase.purchase_total %> </td>
      <td> <%= Purchases::PurchaseDecorator.new(purchase).formatted_date %> </td>
      <td> <%= link_to 'Comment', inventory_purchase_path(purchase.pid), class: 'btn btn-secondary' %> </td>
    </tr>
  <% end %>
    
  </tbody>
</table>