<%= render partial: 'inventory/products/navbar_customer' %>
<% purchase = Purchase.find_by(id: params[:id]) %>
<% unless Comment.purchase_already_commented(purchase.id).empty? %>
 <div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-1"> <h4> Comment: </h4> </div>
  <div class="col-md-4">  
    <textarea class="form-control" rows="4" cols="50" readonly>
    <%= purchase.comment_description %>
    </textarea>
  </div>
 </div>
 <% else %>
 <% if current_user.user_type_id == 2%>
 <%= render partial: '/store/comments/form_coment', locals: {object: purchase, type: 'purchase'} %>
 <% else %>
 <div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3"><h3> No comments in this purchase </h3></div>
 </div>
 <%end%>
<% end %>