<%= render partial: '/inventory/products/navbar_xuser' %>


<div class="row">
  <div class="col-md-3"></div>
    <div class="card" style="width: 50rem;">
      <div class="card-body">
        <h5 class="card-title">Login</h5>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>
  <br>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %> 
    </div>
  <% end %>
  <br>
  <div class="actions">
    <%= f.submit "Log in", class: 'btn btn-primary' %>
  </div><br>
  <%= render "devise/shared/links" %>
<% end %>
      </div>
    </div>
</div>


