
<div class='row'>
  <div class='col-md-1'></div>
  <div class='col-md-4'>
    <%= form_with model: tag, url: '/inventory/tags', class:'form-group', method: :post do |form| %>
    <%= form.label :tag_name %>
    <%= form.text_field :tag_name, maxlength: 30, placeholder: 'Enter tag name here...', class: 'form-control', required: 'required' %>  <br/>
    <%= form.submit 'Create tag', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>