<%= render partial: 'inventory/products/navbar_admin' %>
<h2 id="notice"><%= notice %></h2>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-1">
      <%= link_to 'Create Tag', new_inventory_tag_path, class: 'btn btn-primary' %>
    </div>
  </div>


<hr>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Tag</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <% @tags.each do |tag| %>
    <tr>
      <td> <%= tag.tag_name %> </td>
      <td> <%= link_to 'Delete tag', "/inventory/tags/#{tag.id}", method: :delete, class: "btn btn-danger" %> </td>
    </tr>
  <% end %>
    
  </tbody>
</table>