
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <%= form_with url: '/store/comments', class: 'form-group', method: :post do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :id, value: object.id %>
    <%= form.hidden_field :type, value: type %> 
    <%= form.hidden_field :commented, value: object %> 
    <%= form.label :Comment, style: 'float: left' %>
    <%= form.text_area :description, rows: 3, cols: 40, class: 'form-control', required: 'required', maxlength: 300 %> <br/>
    <%= form.submit 'Add comment', class: 'btn btn-success' %><br>
    <% end %>
  </div>
</div>