<% if current_user.nil? %>
  <%= render partial: 'products/navbar_xuser' %>
  <h2 id="notice"><%= notice %></h2>
<% elsif current_user.user_type_id == 1%>
  <%= render partial: 'products/navbar_admin' %>
  <h2 id="notice"><%= notice %></h2>
<% elsif current_user.user_type_id == 2%>
  <%= render partial: 'inventory/products/navbar_customer' %>
  <h2 id="notice"><%= notice %></h2>
<% end %>

<% if current_user.id != @user.id %>
  <div class='row'>
    <div class='col-md-1'></div>
       <%= render partial: 'inventory/user_reviews/form' %>
  </div>
<% end %>
<br>
<div class='row'>
  <div class='col-md-1'></div>
  <div class="card" style="width: 100rem;">
<div class="card-body">
    <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Review</th>
      </tr>
    </thead>
    <tbody>
    <% @user.active_reviews.each do |review| %>
      <tr>
        <td> <%= User.find_by(id: review.reviewer_id).email %> </td>
        <td> <%= review.review %> </td>
      </tr>
    <% end %>
      
    </tbody>
  </table>
  </div>
</div>
</div>