<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> <%= @product.name %> its about to run of to stock </h1>
    <% if @product.picture.attached? %>
    <div> <%= image_tag(attachments[@filename].url) %> </div>
    <% else %>
      <div> <%= image_tag 'product.jpg', class: "card-img-top" %> </div>
    <% end %>
    <p>
      Stocks of this product are running low. Only <%= @product.stock %> units left.
    </p>
    <%= link_to 'Buy here', inventory_product_url(@product.id) %>
  </body>
</html>
