<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <%= form_with url: inventory_user_reviews_url, class: 'form-group', method: :post do |form| %>
    <%= form.hidden_field :reviewer_id, value: current_user.id %>
    <%= form.hidden_field :reviewed_id, value: @user.id %>
    <h3><%= form.label "Make a review of #{@user.email}", style: 'float: left' %> </h3><br/><br/>
    <%= form.text_area :review, rows: 3, cols: 40, class: 'form-control', required: 'required', maxlength: 300 %> <br>
    <%= form.submit 'Add comment', class: 'btn btn-success' %><br>
    <% end %>
  </div>
</div>