<%= render partial: 'inventory/products/navbar_admin' %>
<h2 id="notice"><%= notice %></h2>


<div class='row'>
<div class='col-md-1'></div>
  <div class="card" style="width: 100rem;">
    <div class='card-body'>
      <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">From</th>
          <th scope="col">Review</th>
          <th scope="col">To</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td> <%= review.reviewer.email %> </td>
          <td> <%= review.review %> </td>
          <td> <%= review.reviewed.email %> </td>
          <td>
          <% if review.status == "pending" %>
          
          <%= link_to 'Approve', inventory_user_review_path(review.id), method: :put, class: 'btn btn-warning' %>
          <% end %>
          <%= link_to 'Delete', inventory_user_review_path(review.id), method: :delete, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
        
      </tbody>
    </table>
    </div>
  </div>
</div>
    
