<!DOCTYPE html>
<html>
  <head>
    <title>TraineeWeek5</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <%= yield %>
    <p class="notice"> <%= notice %> </p>
    <p class="alert"> <%= alert %> </p>
  </body>
</html>
